.message {
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.message-background-user {
  /* Inherit from the base message class */
  /* Add additional styles for user message */
  background-color: lightgray;
}

.message-background-bot {
  /* Inherit from the base message class */
  /* Add additional styles for bot message */
  background-color: white;
}
